/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #fffcfc;
    padding: 20px;
}

/* Estilo do cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #ffffff;
}

/* Estilo da lista de jogos */
.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.game-item {
    background-color: #703c3c;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.game-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.game-item h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #ffffff;
}

.game-item p {
    font-size: 1em;
    color: #ffffff;
}

.game-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.game-link:hover {
    background-color: #fdfeff;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #ffffff;
}
